# Python/Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# SQLite (por si aparece)
db.sqlite3
*.sqlite3

# Entornos / secretos
.env
.env.*
venv/
.venv/
env/

# Artefactos Django
media/
staticfiles/

# Editor / OS
.vscode/
.DS_Store

*.env.local
*.log

